<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Faça Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Faça Contato</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list>


      <ion-item>
        <ion-input label="Nome:" type="string" placeholder="Seu Nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="E-mail:" type="email" placeholder="Seu E-mail"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Assunto:" type="string" placeholder="Motivo pelo contato"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="" type="text" placeholder="Insira o sua mensagem"></ion-input>
      </ion-item>

      <ion-segment-button value="pin" layout="icon-end">
        <ion-label>Enviar</ion-label>
        <ion-icon name="send-sharp"></ion-icon>
      </ion-segment-button>
    </ion-list>
  </ion-list>
</ion-content>
