<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Faça Contato</ion-title>
    <ion-icon name="chatbubbles" size="large" class="ion-margin" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title asize="large">Faça Contato</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">

    <p>Preencha todos os campos abaixo para entrar em contato com a equipe do <em>{{ env.appName }}</em>.</p>

    <form *ngIf="!success">

      <p>
        <ion-input label="Nome:" label-placement="floating" fill="outline" placeholder="Digite seu nome"></ion-input>
      </p>
      <p>
        <ion-input label="E-mail:" inputmode="numeric" label-placement="floating" fill="outline"
          placeholder="Digite seu e-mail"></ion-input>
      </p>
      <p>
        <ion-input label="Assunto:" label-placement="floating" fill="outline"
          placeholder="Digite o assunto do contato"></ion-input>
      </p>
      <p>
        <ion-textarea label="Mensagem:" [autoGrow]="true" labelPlacement="floating" fill="outline"
          placeholder="Mensagem do contato"></ion-textarea>
      </p>
      <p>
        <ion-button>Enviar</ion-button>
      </p>

    </form>

  </div>

</ion-content>
