@charset "utf-8";
	.Estilodecaracterenormal1
{
	font-family : Myriad Pro;
	font-size : 49px;
	color : #211915;
	color : rgb(33, 25, 21);
}
.Estilodecaracterenormal2
{
	font-family : Myriad Pro;
	font-size : 49px;
	color : #211915;
	color : rgb(33, 25, 21);
}
.Estilodecaracterenormal3
{
	font-family : Myriad Pro;
	font-size : 194px;
	color : #211915;
	color : rgb(33, 25, 21);
}
.Estilodecaracterenormal
{
	font-family : Myriad Pro;
	font-size : 11px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
